

.d1{

display:block;
float:left;
width:35%;
height:500px;
border:double;
border-color:#000000;


}
.compareframe{

background-color:#CCFFFF;
display:block;
float:left;
width:28%;
height:500px;



}
.d2{

display:block;
float:left;
width:35%;
height:500px;
border:double;
border-color:#000000;


}
.d3{

display:block;
float:left;
width:100%;
height:100px;


}
.promote{
position:relative;

top:95%; left:0%;

}
