

.file1{

display:block;
float:left;
width:46%;
height:650px;
border:double;
border-color: #000;
background-color:lightcyan;


}

.file2{

display:block;
float:right;
width:46%;
height:650px;
border:double;
border-color: #000;
background-color:lightcyan;


}
.compare{

display:block;
float:left;
width:7%;
height:100px;


}
.promote{
position:relative;

top:95%; left:0%;

}
