<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Display</servlet-name>
    <servlet-class>controller.Display</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>controller.UploadServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>ValidateServlet</servlet-name>
    <servlet-class>controller.ValidateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DisplayDiagram</servlet-name>
    <servlet-class>controller.DisplayDiagram</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Display</servlet-name>
    <url-pattern>/Display</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisplayDiagram</servlet-name>
    <url-pattern>/DisplayDiagram</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ValidateServlet</servlet-name>
    <url-pattern>/ValidateServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
  	<servlet-name>ClassMergeComunicator</servlet-name>
  	<servlet-class>controller.ClassMergeComunicator</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ClassMergeComunicator</servlet-name>
  	<url-pattern>/ClassMergeComunicator</url-pattern>
  </servlet-mapping>
</web-app>